---
import BaseLayout from "../Layouts/AuthLayout.astro";
---

<BaseLayout>
  <h1 class="text-3xl text-thin border-b-1 border-black/20 text-black/80 pb-2 mb-2 text-center uppercase">
    Recuperar senha
  </h1>
  <form>
    <div class="w-full space-y-4 py-2">
      <div>
        <p class="ms-2 uppercase text-sm text-black/70">Email</p>
        <input
          type="email"
          name="email"
          id="email"
          class="w-full border-1 border-black/20 p-2 rounded-lg"
        />
      </div>

      <button
        type="submit"
        class="bg-black/50 hover:bg-black/70 transition-bg duration-150 text-white w-full py-2 rounded-lg cursor-pointer"
        >Recuperar senha</button
      >
      <div class="flex justify-center">
        <a href="/"
          class="text-sm text-black/50 hover:text-black/70 hover:underline"
          href="esqueci-minha-senha">Voltar</a
        >
      </div>
    </div>
  </form>
</BaseLayout>
