<!-- src/components/Footer.astro -->
<footer class="text-black/40 py-2 select-none">
  <div class="max-w-7xl mx-auto px-4 text-center text-xs">
    <p>© 2025 Chevromais - Todos os direitos reservados.</p>
  </div>
</footer>
