---
const { title } = Astro.props;
---

<!-- src/components/PageTitle.astro -->
<div
  class="sticky top-0 z-51 w-full bg-gray-800 p-3 text-2xl text-white/70 font-bold"
>
  <h1 class="w-full text-start ps-4 uppercase">{title}</h1>
</div>
